.card {
  &-header,
  &-footer {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  &-header {
    padding: 1.5rem 1.5rem 0;
    border-bottom: unset;
  }
  &-body {
    padding: 0;
    canvas {
      width: 14.8rem;
      height: 14.8rem;
      margin: 0 auto;
    }
  }
}
