<header class="p-3 mb-3 border-bottom">
  <div class="container">
    <div
      class="navbar-wrapper d-flex flex-wrap align-items-center justify-content-lg-start"
    >
      <ul
        class="nav col-12 col-lg-auto m-auto mb-2 justify-content-center mb-md-0"
      >
        <li>
          <a routerLink="secure/dashboard" class="title nav-link fs-4 px-2">
            {{ "title" | translate }}
          </a>
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="{{ 'icons.search' | translate }}..."
          aria-label="Search"
        />
      </form>
      <button
        class="mx-1"
        [ngClass]="
          themeService.isDarkTheme()
            ? 'dark-theme-button'
            : 'light-theme-button '
        "
        (click)="toggleTheme()"
        type="button"
      >
        {{ themeService.isDarkTheme() ? "Light 🌞" : "Dark 🌜" }}
      </button>
      @if ((notificationService.unreadCount$ | async) ?? 0 > 0) {
      <div class="notification-icon mx-2" routerLink="/public/notifications">
        <i class="fa-solid fa-bell fa-xl" style="color: #666360"></i>
        <span class="count">{{
          notificationService.unreadCount$ | async
        }}</span>
      </div>
      }

      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            [src]="profile.imagePath || imagePath"
            [srcset]="
              (profile.imagePath || 'assets/images/default-icon-small.jpg') +
              ' 32w, ' +
              (profile.imagePath
                ? profile.imagePath.replace('.jpg', '-medium.jpg')
                : 'assets/images/default-icon-medium.jpg') +
              ' 64w, ' +
              (profile.imagePath
                ? profile.imagePath.replace('.jpg', '-large.jpg')
                : 'assets/images/default-icon-large.jpg') +
              ' 128w'
            "
            sizes="(max-width: 600px) 32px, (max-width: 1000px) 64px, 128px"
            width="32"
            height="32"
            class="rounded-circle me-2"
          />
        </a>
        <ul class="dropdown-menu text-small">
          <li>
            <a class="dropdown-item" routerLink="secure/user-profile"
              >Profile</a
            >
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <a class="dropdown-item" (click)="logout()">Sign out</a>
          </li>
        </ul>
      </div>
      <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>
