@import "../../assets/SASS/abstracts/mixins";
// Define classes for light and dark themes using the mixin
.light-theme-button {
  @include theme-button(#b64646, #d8bbbb); // Light theme colors
}

.dark-theme-button {
  @include theme-button(#8fb32f, #2c331a); // Dark theme colors
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.notification-icon {
  position: relative;
  display: inline-block;

  .count {
    position: absolute;
    top: -10px;
    right: 11px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 0.65rem;
    font-weight: bold;
    height: 1rem;
    width: 1rem;
  }
}
