@import "../../assets/SASS/abstracts/mixins";
@import "../../assets/SASS/abstracts/variables";

.light-theme-button {
  @include theme-button($theme-bg-light, $theme-text-light);
}

.dark-theme-button {
  @include theme-button($theme-bg-dark, $theme-text-dark);
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: $color-white;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.dropdown-menu {
  background-color: var(--background-color);

  .dropdown-item {
    color: var(--text-color);
    &:hover,
    &:focus {
      background-color: var(--button-col);
      color: var(--background-color);
    }
  }
}
.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .fa-solid {
    &:hover,
    &:focus {
      color: var(--text-color) !important;
    }
  }
  .count {
    position: absolute;
    top: -10px;
    right: 11px;
    background-color: $red-bg;
    color: $color-white;
    border-radius: 50%;
    text-align: center;
    font-size: 0.65rem;
    font-weight: bold;
    height: 1rem;
    width: 1rem;
  }
}
a.title {
  color: var(--text-color);
}
.dropdown-toggle:not(:focus) {
  outline: 0;
}

.dropdown-menu {
  background-color: var(--background-color);

  .dropdown-item {
    color: var(--text-color);
  }
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;

  .navbar-toggler-icon,
  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    width: 1.5rem;
    height: 2px;
    background-color: var(--text-color);
    display: inline-block;
    position: relative;
    transition: all 0.3s;
  }

  .navbar-toggler-icon::before,
  .navbar-toggler-icon::after {
    content: "";
    position: absolute;
    left: 0;
  }

  .navbar-toggler-icon:before {
    top: -10px;
  }

  .navbar-toggler-icon:after {
    bottom: -10px;
  }
}
@include respond(phone) {
  .navbar-toggler {
    display: block;
  }
}
.navbar-wrapper {
  justify-content: space-evenly;
}
