<section>
  <div class="register-container">
    <form class="form" [formGroup]="form" (ngSubmit)="register()">
      <h1>{{ "buttons.register" | translate }}</h1>

      <!-- Username -->
      <div class="form-group">
        <label for="username">{{ "form.username" | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>
          <input
            id="username"
            type="text"
            formControlName="userName"
            placeholder="{{ 'form.enterUsername' | translate }}"
            class="form-control"
          />
        </div>
        @if (form.get('userName')?.touched && form.get('userName')?.invalid ) {
        <div class="text-danger">
          @if (form.get('userName')?.hasError('required') ) {
          {{ "validation.required" | translate }}
          }
        </div>
        }
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">{{ "form.email" | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"
              ><i class="fas fa-envelope"></i
            ></span>
          </div>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="{{ 'form.enterEmail' | translate }}"
            class="form-control"
          />
        </div>

        @if (form.get('email')?.touched && form.get('email')?.invalid ) {
        <div class="text-danger">
          @if (form.get('email')?.hasError('required') ) {
          {{ "validation.required" | translate }}
          } @if (form.get('email')?.hasError('email') ) {
          {{ "validation.invalidEmail" | translate }}
          } @if (form.get('email')?.hasError('emailDomain') &&
          !form.get('email')?.hasError('email') &&
          !form.get('email')?.hasError('required') ) {
          {{ "validation.invalidEmailDomain" | translate }}
          }
        </div>
        }
      </div>
      <!-- Phone Number -->
      <div class="form-group">
        <label for="phone">{{ "form.phone-number" | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-phone"></i></span>
          </div>
          <input
            id="phone"
            type="number"
            formControlName="phoneNumber"
            placeholder="{{ 'form.enterPhoneNumber' | translate }}"
            class="form-control phone no-spin"
          />
        </div>
        @if (form.get('phoneNumber')?.touched &&
        form.get('phoneNumber')?.invalid ) {
        <div class="text-danger">
          @if (form.get('phoneNumber')?.hasError('required') ) {
          {{ "validation.required" | translate }}
          }
        </div>
        }
      </div>
      <!-- Password -->
      <div class="form-group">
        <label for="password">{{ "form.password" | translate }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="{{ 'form.enterPassword' | translate }}"
            class="form-control"
          />
        </div>
        @if (form.get('password')?.touched && form.get('password')?.invalid ) {
        <div class="text-danger">
          @if (form.get('password')?.hasError('required') ) {
          <div class="text-danger">
            {{ "validation.required" | translate }}
          </div>
          } @if (form.get('password')?.hasError('minlength') ) {
          <div class="text-danger">
            {{ "validation.passwordLength" | translate }}
          </div>
          }
        </div>

        }
      </div>

      <!-- Confirm Password -->
      <div class="form-group">
        <label for="confirmPassword">{{
          "form.confirm-password" | translate
        }}</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
          </div>
          <input
            id="confirmPassword"
            type="password"
            formControlName="confirmPassword"
            placeholder="{{ 'form.confirmPassword' | translate }}"
            class="form-control"
          />
        </div>
        @if (form.get('password')?.touched && form.get('password')?.invalid ) {
        <div class="text-danger">
          @if (form.get('password')?.hasError('required') ) {
          <div class="text-danger">
            {{ "validation.required" | translate }}
          </div>
          } @if (form.get('password')?.hasError('minlength') ) {
          <div class="text-danger">
            {{ "validation.passwordLength" | translate }}
          </div>
          } @if (form.get('confirmPassword')?.hasError('mustMatch') ) {
          <div class="text-danger">
            {{ "validation.mustMatch" | translate }}
          </div>
          }
        </div>

        }
      </div>

      <!-- Submit Button -->
      <div class="btnsContainer">
        <button type="submit" [disabled]="form.invalid" class="btn">
          {{ "buttons.register" | translate }}
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="navigateToLogin()"
        >
          {{ "buttons.login" | translate }}
        </button>
      </div>
    </form>
  </div>
</section>
