<div class="register-container">
  <form class="register-form" [formGroup]="form" (ngSubmit)="register()">
    <h2>{{ "buttons.register" | translate }}</h2>

    <!-- Username -->
    <mat-form-field appearance="fill" class="form">
      <mat-label>{{ "form.username" | translate }}</mat-label>
      <mat-icon matPrefix>person</mat-icon>
      <input
        formControlName="userName"
        matInput
        id="username"
        type="text"
        placeholder="{{ 'form.enterUsername' | translate }}"
      />
      @if (form.get('userName')?.hasError('required') ) {
      <mat-error>{{ "validation.required" | translate }} </mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill" class="form">
      <mat-label>{{ "form.email" | translate }}</mat-label>
      <mat-icon matPrefix>email</mat-icon>
      <input
        matInput
        id="email"
        type="email"
        formControlName="email"
        placeholder="{{ 'form.enterEmail' | translate }}"
      />
      @if (form.get('email')?.hasError('required') ) {
      <mat-error>{{ "validation.required" | translate }} </mat-error>
      } @if (form.get('email')?.hasError('email') ) {
      <mat-error>{{ "validation.invalidEmail" | translate }} </mat-error>
      }
    </mat-form-field>

    <!-- Phone Number -->
    <mat-form-field appearance="fill" class="form">
      <mat-label>{{ "form.phone-number" | translate }}</mat-label>
      <mat-icon matPrefix>phone</mat-icon>
      <input
        matInput
        id="phone"
        type="number"
        formControlName="phoneNumber"
        placeholder="{{ 'form.enterPhoneNumber' | translate }}"
      />
      @if (form.get('phoneNumber')?.hasError('required') ) {
      <mat-error>{{ "validation.required" | translate }} </mat-error>
      }
    </mat-form-field>

    <!-- Password -->
    <mat-form-field appearance="fill" class="form">
      <mat-label>{{ "form.password" | translate }}</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        id="password"
        formControlName="password"
        type="password"
        placeholder="{{ 'form.enterPassword' | translate }}"
      />
      @if (form.get('password')?.hasError('required') ) {
      <mat-error>{{ "validation.required" | translate }} </mat-error>
      } @if (form.get('password')?.hasError('minlength') ) {
      <mat-error>{{ "validation.passwordLength" | translate }} </mat-error>
      }
    </mat-form-field>

    <!-- Confirm Password -->
    <mat-form-field appearance="fill" class="form">
      <mat-label>{{ "form.confirm-password" | translate }}</mat-label>
      <mat-icon matPrefix>lock</mat-icon>
      <input
        matInput
        id="confirmPassword"
        type="password"
        placeholder="{{ 'form.confirmPassword' | translate }}"
        formControlName="confirmPassword"
      />
      @if (form.get('confirmPassword')?.hasError('required') ) {
      <mat-error>{{ "validation.required" | translate }} </mat-error>
      } @if (form.get('confirmPassword')?.hasError('minlength') ) {
      <mat-error>{{ "validation.passwordLength" | translate }} </mat-error>
      }@if (form.get('confirmPassword')?.hasError('mustMatch') ) {
      <mat-error>{{ "validation.mustMatch" | translate }} </mat-error>
      }
    </mat-form-field>

    <!-- Submit Button -->
    <button
      mat-raised-button
      class="mt-4"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ "buttons.register" | translate }}
    </button>
    <button
      mat-raised-button
      class="mt-4"
      type="button"
      (click)="navigateToLogin()"
    >
      {{ "buttons.login" | translate }}
    </button>
  </form>
</div>
