@import "../../../assets/SASS/abstracts/mixins";
@import "../../../assets/SASS/abstracts/variables";
* {
  color: unset !important;
}
table {
  width: 100%;
  border-collapse: collapse;

  thead {
    background-color: var(--background-color) !important;

    th {
      padding: 12px;
      border: 1px solid #ddd;
      text-align: center;
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: var(--background-color);
        transition: var(--transition-theme);
      }

      td {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
        transition: var(--transition-theme);
      }
    }
  }
}

.btn.my-3 {
  background-color: var(--button-col);
  color: var(--text-color);
  &:hover {
    background-color: var(--text-color);
    color: var(--button-col);
  }
}
::ng-deep .mat-mdc-table {
  box-shadow: var(--box-shadow);
  background-color: var(--background-color) !important;
  transition: var(--transition-theme);
}

::ng-deep .cdk-overlay-container {
  background-color: unset;
}
::ng-deep .cdk-overlay-connected-position-bounding-box {
  background-color: unset;
}
::ng-deep .mat-mdc-menu-panel {
  &.mat-mdc-elevation-specific,
  &.mat-mdc-elevation-specific & * {
    background-color: unset;
    color: unset;
  }
}
::ng-deep #mat-menu-panel-0 {
  background-color: var(--background-color);
}
::ng-deep
  .mat-mdc-text-field-wrapper.mdc-text-field.ng-tns-c3736059725-0.mdc-text-field--outlined {
  * {
    background-color: unset;
    color: var(--text-color);
  }
}
@include respond(phone) {
  table {
    min-width: unset;
  }
  ::ng-deep .mat-mdc-header-cell {
    padding: 0 !important;
    text-align: center !important;
  }
  ::ng-deep .mat-mdc-table {
    table-layout: fixed !important;
    padding: 0 !important;
  }
  ::ng-deep .mat-mdc-cell {
    padding: 0 !important;
    text-align: center !important;
  }
}
::ng-deep
  .mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-actions.mat-column-actions.ng-star-inserted {
  * {
    background-color: unset !important;
  }
}
::ng-deep .mat-mdc-menu-content {
  * {
    background-color: unset !important;
    color: unset !important;
  }
}

.text-primary {
  color: rgb(13 110 253) !important;
  &:hover {
    background-color: rgba(128, 128, 128, 0.479) !important;
  }
}
.text-danger {
  color: rgb(220 53 69) !important;
  &:hover {
    background-color: rgba(128, 128, 128, 0.479) !important;
  }
}
