.employee-table {
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: var(--background-color) !important;

      th {
        padding: 12px;
        border: 1px solid #ddd;
        text-align: center;
      }
    }

    tbody {
      tr {
        &:nth-child(even) {
          background-color: #f9f9f9;
          transition: var(--transition-theme);
        }

        td {
          padding: 12px;
          border: 1px solid #ddd;
          text-align: center;
          transition: var(--transition-theme);
        }
      }
    }
  }
}
.ng-star-inserted {
  background-color: var(--background-color);
}
::ng-deep .mat-mdc-table {
  box-shadow: var(--box-shadow);
}

::ng-deep .cdk-overlay-container {
  background-color: unset;
}
::ng-deep .cdk-overlay-connected-position-bounding-box {
  * {
    background-color: unset;
  }
}
