<div class="employee-table">
  <h1>{{ "table-list.employees-title" | translate }}</h1>
  <table>
    <thead>
      <tr>
        <th>{{ "table-list.name" | translate }}</th>
        <th>{{ "user-profile.country" | translate }}</th>
        <th>{{ "user-profile.city" | translate }}</th>
        <th>{{ "table-list.salary" | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track employee) {
      <tr>
        <td>{{ employee.name }}</td>
        <td>{{ employee.country }}</td>
        <td>{{ employee.city }}</td>
        <td>{{ employee.salary }}</td>
      </tr>
      }
    </tbody>
  </table>
  <button
    type="button"
    class="btn btn-primary my-3"
    (click)="openAddEmployeeModal()"
  >
    {{ "buttons.add" | translate }}
  </button>
</div>
