<section>
  <div
    class="login-container d-flex justify-content-center flex-column align-items-center"
  >
    <form class="form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <h1 class="text-center">{{ "buttons.login" | translate }}</h1>

      <div
        class="wrapper d-flex flex-column align-items-center justify-content-center"
      >
        <!-- Email -->
        <div class="form-group">
          <label for="email">{{ "form.email" | translate }}</label>
          <input
            id="email"
            type="email"
            formControlName="email"
            placeholder="{{ 'form.enterEmail' | translate }}"
            class="form-control"
          />
          @if (loginForm.get('email')?.touched &&
          loginForm.get('email')?.invalid ) {
          <div class="text-danger">
            @if (loginForm.get('email')?.hasError('required') ) {
            {{ "validation.required" | translate }}
            } @if (loginForm.get('email')?.hasError('email') ) {
            {{ "validation.invalidEmail" | translate }}
            }
          </div>
          }
        </div>

        <!-- Password -->
        <div class="form-group">
          <label for="password">{{ "form.password" | translate }}</label>
          <input
            id="password"
            type="password"
            formControlName="password"
            placeholder="{{ 'form.enterPassword' | translate }}"
            class="form-control"
          />
          @if ( loginForm.get('password')?.touched &&
          loginForm.get('password')?.invalid) {

          <div class="text-danger">
            @if (loginForm.get('password')?.hasError('required') ) {
            {{ "validation.required" | translate }}
            } @if (loginForm.get('password')?.hasError('minlength') ) {
            {{ "validation.passwordLength" | translate }}
            }
          </div>
          }
        </div>

        <div class="btnsContainer w-100 d-flex wrap">
          <button type="submit" [disabled]="loginForm.invalid" class="btn">
            {{ "buttons.login" | translate }}
          </button>

          <button
            type="button"
            class="btn btn-secondary"
            (click)="navigateToRegister()"
          >
            {{ "buttons.register" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
