<form class="form">
  <div class="container">
    <div class="row d-flex flex-column align-items-center">
      <div class="col-md-6 wrapper">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" />
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" />
        <button type="button" class="btn btn-primary">Login</button>
      </div>
    </div>
  </div>
</form>
