@import "../../assets/SASS/abstracts/variables";
.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--background-color);
  color: var(--text-color) !important;
  transition: var(--transition-theme);
  z-index: 1000;

  * {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }
  .title {
    height: 3.5rem;
  }

  .dropdown-menu {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;

    height: 2.7rem;
  }

  .nav-item {
    margin-bottom: 0.5rem;
    background-color: var(--background-color) !important;
    transition: background-color 0.3s, color 0.3s;
    a.nav-link {
      color: var(--text-color);
      transition: background-color 0.3s, color 0.3s;

      &:hover,
      &:focus {
        background-color: var(--button-light-col) !important;
        color: var(--text-color);
      }
      &.active {
        background-color: var(--button-dark-col) !important;
      }
    }
  }
}
