@import "../../assets/SASS/abstracts/variables";
@import "../../assets/SASS/abstracts/mixins";

.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: $color-grey-dark-2;
  transition: transform 1s ease, opacity 1s ease;
  z-index: 1000;

  &.open {
    transform: translateX(0);
    width: 100%;
    opacity: 0.97;
    transition: var(--transition-theme);
    transition: transform 1s ease, opacity 1s ease;
  }
  .bg-body-tertiary {
    width: 100%;
    background-color: $color-grey-dark-2 !important;
  }
  * {
    background-color: $color-grey-dark-2;
    color: $color-black;
  }
  .title {
    height: 3.8em;
    justify-content: center;
    display: flex;
  }

  .dropdown-menu {
    background-color: $color-white;
    transition: background-color 0.3s ease;
    height: fit-content;
  }

  .nav-item {
    margin-bottom: 0.5rem;
    background-color: $color-grey-dark-2 !important;
    transition: background-color 0.3s, color 0.3s;
    a {
      display: block;
      padding: 0.5rem 1rem;
      background-color: transparent;
      transition: background-color 0.3s, color 0.3s;

      border-bottom: 1px solid $color-white;
      &:hover,
      &:focus {
        background-color: var(--button-col) !important;
        color: $color-white !important;
      }
      &.active {
        background-color: var(--button-col) !important;
        color: $color-white !important;
      }
    }
  }
  @include respond(phone) {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    .bg-body-tertiary {
      width: 100%;
      align-items: center;
    }
    .nav.nav-pills {
      width: 40%;
      text-align: center;
      height: 55% !important;
    }
    .title {
      height: 1.5rem;
      width: 40%;
      text-decoration: underline;
      text-decoration-color: var(--button-col);
    }
    .close-btn {
      margin-right: 4rem !important;
      margin-top: 2rem !important;
      background-color: var(--button-col) !important;
      display: block !important;
      color: $color-white !important;
      &:hover,
      &:focus {
        color: $color-black !important;
      }
    }
    .mat-mdc-form-field-infix {
      background-color: unset !important;
    }
  }

  .close-btn {
    display: none;
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  .nav-item {
    background-color: var(--button-col);
  }
  .wrapper {
    width: 100%;
  }
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu {
  transition: opacity 0.3s ease;
  opacity: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
}
.dropdown-menu {
  background-color: $color-grey-dark-2;

  .dropdown-item {
    background-color: $color-white !important;
    &:hover {
      background-color: var(--button-col) !important;
      color: $color-white !important;
      cursor: pointer;
    }
  }
}
.dropdown {
  &:hover {
    color: $color-white;
    cursor: pointer;
  }
}
.bi.pe-none {
  display: none;
}
