<div class="sidebar">
  <div
    class="d-flex flex-column flex-shrink-0 p-2 bg-body-tertiary"
    style="width: 15rem; height: 100vh"
  >
    <a
      href="/"
      class="d-flex align-items-center mb-3 mb-md-0 link-body-emphasis text-decoration-none"
    >
      <svg class="bi pe-none me-2" width="40" height="32">
        <use xlink:href="#bootstrap" />
      </svg>
      <span routerLink="dashboard" class="fs-4">{{ "title" | translate }}</span>
    </a>
    <hr />
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a
          routerLink="secure/dashboard"
          routerLinkActive="active"
          class="nav-link"
          aria-current="page"
        >
          {{ "sidebar.dashboard" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="secure/icons"
          routerLinkActive="active"
          class="nav-link link-body-emphasis"
        >
          {{ "sidebar.icons" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="secure/maps"
          routerLinkActive="active"
          class="nav-link link-body-emphasis"
        >
          {{ "sidebar.maps" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="secure/notifications"
          routerLinkActive="active"
          class="nav-link link-body-emphasis"
        >
          {{ "sidebar.notifications" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="secure/user-profile"
          routerLinkActive="active"
          class="nav-link link-body-emphasis"
        >
          {{ "sidebar.user-profile" | translate }}
        </a>
      </li>
      <li class="nav-item">
        <a
          routerLink="secure/table-list"
          routerLinkActive="active"
          class="nav-link link-body-emphasis"
        >
          {{ "sidebar.table-list" | translate }}
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="dropdownLanguage"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ "buttons.language" | translate }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownLanguage">
          <li>
            <a
              class="dropdown-item"
              [class.active.lang]="arabic === selectedLanguage"
              (click)="changeLanguage(arabic)"
            >
              {{ "buttons.arabic" | translate }}
            </a>
          </li>
          <li>
            <a
              class="dropdown-item"
              [class.active.lang]="english === selectedLanguage"
              (click)="changeLanguage(english)"
            >
              {{ "buttons.english" | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    <hr />
    <div class="dropdown">
      <a
        href="#"
        class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt=""
          width="32"
          height="32"
          class="rounded-circle me-2"
        />
        <strong>{{ profileName }}</strong>
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</div>
