@import "../../assets/SASS/abstracts/variables";
@import "../../assets/SASS/abstracts/mixins";

.sidebar {
  position: sticky;
  top: 0;
  right: 0;
  width: 15rem;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--background-color);
  color: var(--text-color) !important;
  transition: var(--transition-theme);
  z-index: 1000;

  &.open {
    transform: translateX(0);
    transition: var(--transition-theme);
    width: 100%;
    opacity: 0.97;
  }
  .bg-body-tertiary {
    width: 15rem;
  }
  * {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
  }
  .title {
    height: 3.5rem;
  }

  .dropdown-menu {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;

    height: 2.7rem;
  }

  .nav-item {
    margin-bottom: 0.5rem;
    background-color: var(--background-color) !important;
    transition: background-color 0.3s, color 0.3s;
    a.nav-link {
      color: var(--text-color);
      transition: background-color 0.3s, color 0.3s;

      &:hover,
      &:focus {
        background-color: var(--button-col) !important;
        color: var(--text-color);
      }
      &.active {
        background-color: var(--button-col) !important;
      }
    }
  }
  @include respond(phone) {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    .bg-body-tertiary {
      width: 100%;
      align-items: center;
    }
    .nav-pills {
      width: 33%;
      text-align: center;
      height: 55% !important;
    }
    .title {
      width: 35%;
      text-decoration: underline;
      text-decoration-color: var(--button-col);
    }
  }

  .close-btn {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  .nav-item {
    background-color: var(--button-col);
  }
  .wrapper {
    width: 100%;
  }
}
