@import "../../../assets/SASS/abstracts/mixins";

.container {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}
.spinner-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner-border {
  width: 3rem;
  height: 3rem;
}
@include respond(phone) {
  .container {
    padding: 0;
    margin: 0 auto;
  }
  .container > .row {
    padding: 0;
  }

  app-card {
    padding: 0;
  }
}
