<div class="container">
  @defer (on viewport) {
  <div class="row">
    <app-card />
  </div>
  <div class="row">
    <app-main-graph />
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-pie-graph />
    </div>
    <div class="col-md-8">
      <app-bar-graph />
    </div>
  </div>
  } @placeholder {
  <div
    class="spinner-container d-flex justify-content-center align-items-center"
  >
    <div class="col-md-12 mt-3 self-align-center">
      <h1>The graphs are loading...</h1>
    </div>
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
  }
</div>
