<div class="container d-flex flex-column">
  <div class="user profile-card">
    <img
      [src]="profile.backgroundImage"
      [alt]="profile.backgroundAlt"
      class="background"
    />
    <img
      [src]="profile.imagePath"
      [alt]="profile.imageAlt"
      class="profile-image"
    />
    <h2>{{ profile.name }}</h2>
    <p class="username">{{ profile.username }}</p>
    <p class="quote">
      "I like the way you work it<br />No diggity<br />I wanna bag it up"
    </p>
    <div class="stats">
      <div class="stat">
        <span>12</span>
        <h3>{{ "dashboard-overview.labels.files" | translate }}</h3>
      </div>
      <div class="stat">
        <span>2{{ "units.gigabyte" | translate }}</span>
        <h3>{{ "dashboard-overview.labels.used" | translate }}</h3>
      </div>
      <div class="stat">
        <span>24,6{{ "units.dollar" | translate }}</span>
        <h3>{{ "dashboard-overview.labels.spent" | translate }}</h3>
      </div>
    </div>
  </div>
  @defer(on viewport){
  <div class="row">
    <div class="col-md-12">
      <h2>{{ "user-profile.edit-profile" | translate }}</h2>
      <form>
        <div class="mb-3">
          <label for="profileImage" class="form-label">{{
            "user-profile.upload-image" | translate
          }}</label>
          <input
            type="file"
            class="form-control"
            id="profileImage"
            (change)="onImageSelected($event)"
          />
        </div>
        <div class="mb-3">
          <label for="company" class="form-label"
            >{{ "user-profile.company" | translate }} ({{
              "buttons.disable" | translate
            }})</label
          >
          <input
            type="text"
            class="form-control"
            id="company"
            value="Creative Code Inc."
            disabled
          />
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">{{
            "form.username" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="username"
            placeholder="{{ 'form.enterUsername' | translate }}"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">{{
            "form.email" | translate
          }}</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="{{ 'form.enterEmail' | translate }}"
          />
        </div>
        <div class="mb-3">
          <label for="firstName" class="form-label">{{
            "user-profile.first-name" | translate
          }}</label>
          <input type="text" class="form-control" id="firstName" />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">{{
            "user-profile.last-name" | translate
          }}</label>
          <input type="text" class="form-control" id="lastName" />
        </div>
        <div class="mb-3">
          <label for="address" class="form-label">{{
            "user-profile.address" | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="{{ 'user-profile.address' | translate }}"
          />
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="city" class="form-label">{{
              "user-profile.city" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="city"
              placeholder="{{ 'user-profile.city' | translate }}"
            />
          </div>
          <div class="col">
            <label for="country" class="form-label">{{
              "user-profile.country" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="country"
              placeholder="{{ 'user-profile.country' | translate }}"
            />
          </div>
          <div class="col">
            <label for="postalCode" class="form-label">{{
              "user-profile.postal-code" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="postalCode"
              placeholder="{{ 'user-profile.zip-code' | translate }}"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="aboutMe" class="form-label">{{
            "user-profile.about-me" | translate
          }}</label>
          <textarea class="form-control" id="aboutMe" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">
          {{ "user-profile.update-profile" | translate }}
        </button>
      </form>
    </div>
  </div>
  }@placeholder {
  <p>the form is getting ready!</p>
  }
</div>
