@import "../../../../assets/SASS/abstracts/mixins";
.Wrapper {
  display: flex;
  .card {
    &-footer {
      border-top: unset;
      background-color: var(--background-color);
      box-sizing: border-box;
    }
  }
  @include respond(phone) {
    .col-7 {
      padding: 0px;
    }
  }
}
