/* You can add global styles to this file, and also import other style files */
@import "./assets/SASS/abstracts/variables";
:root {
  --background-color-light: $background-color-light;
  --text-color-light: $color-white;
  --background-color-dark: $background-color-dark;
  --text-color-dark: $color-black;
}

.light-theme {
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
}

.dark-theme {
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
}

// Apply to html, body, and all elements
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

// General styles
* {
  background-color: var(--background-color);
  color: var(--text-color);
}
hr {
  margin: 0 !important;
}
/* Override ngx-toastr default styles */
.toast-success {
  background-color: #28a745 !important; /* Custom background color for success */
  color: white !important;
  border-radius: 10px !important; /* Rounded corners */
  padding: 15px !important; /* Custom padding */
}

.toast-error {
  background-color: #dc3545 !important; /* Custom background color for error */
  color: white !important;
  border-radius: 10px !important; /* Rounded corners */
  padding: 15px !important; /* Custom padding */
}

/* General toaster styling */
.toast {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important; /* Add shadow */
  font-family: "Roboto", sans-serif !important;
}
