/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #f4f3ef;
  --text-color: #000000;
}

.light-theme {
  --text-color: #000000;
}

.dark-theme {
  --background-color: #1e1e1e;
  --text-color: #ffffff;
}
* {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}
html,
body {
  height: 100vh;
  width: 100%;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
hr {
  margin: 0 !important;
}
/* Override ngx-toastr default styles */
.toast-success {
  background-color: #28a745 !important; /* Custom background color for success */
  color: white !important;
  border-radius: 10px !important; /* Rounded corners */
  padding: 15px !important; /* Custom padding */
}

.toast-error {
  background-color: #dc3545 !important; /* Custom background color for error */
  color: white !important;
  border-radius: 10px !important; /* Rounded corners */
  padding: 15px !important; /* Custom padding */
}

/* General toaster styling */
.toast {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16) !important; /* Add shadow */
  font-family: "Roboto", sans-serif !important;
}
