<div class="modal-backdrop" (click)="close.emit()"></div>
<div class="modal">
  @if (employee()) {
  <h2>{{ "buttons.editEmployee" | translate }}</h2>
  }@else{
  <h2>{{ "buttons.addEmployee" | translate }}</h2>
  }
  <form [formGroup]="employeeForm" (ngSubmit)="submit()">
    <label>
      {{ "table-list.name" | translate }}:
      <input formControlName="name" />
    </label>
    <label>
      {{ "user-profile.country" | translate }}:
      <input formControlName="country" />
    </label>
    <label>
      {{ "user-profile.city" | translate }}:
      <input formControlName="city" />
    </label>
    <label>
      {{ "table-list.salary" | translate }}:
      <input formControlName="salary" />
    </label>
    <button type="submit" [disabled]="employeeForm.invalid">
      @if (employee()) {
      <span>{{ "buttons.update" | translate }}</span>
      }@else{
      <span>{{ "buttons.add" | translate }}</span>
      }
    </button>
    <button type="button" (click)="close.emit()">
      {{ "buttons.cancel" | translate }}
    </button>
  </form>
</div>
