<div class="modal-backdrop" (click)="close.emit()"></div>
<div class="modal">
  @if (employee()) {
  <h1>{{ "buttons.editEmployee" | translate }}</h1>
  }@else{
  <h1>{{ "buttons.addEmployee" | translate }}</h1>
  }
  <form [formGroup]="employeeForm" (ngSubmit)="submit()">
    <div class="form-group">
      <input
        placeholder="{{ 'table-list.name' | translate }}"
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <input
        placeholder="{{ 'user-profile.country' | translate }}"
        formControlName="country"
      />
    </div>
    <div class="form-group">
      <input
        formControlName="city"
        placeholder="{{ 'user-profile.city' | translate }}"
      />
    </div>
    <div class="form-group">
      <input
        placeholder="{{ 'table-list.salary' | translate }}"
        formControlName="salary"
        class="mb-2"
      />
    </div>

    <div class="btnsContainer d-flex wrap">
      <button
        class="btn btn-add btn-update"
        type="submit"
        [disabled]="employeeForm.invalid"
      >
        @if (employee()) {
        <span>
          {{ "buttons.update" | translate }}
        </span>
        }@else{
        <span>
          {{ "buttons.add" | translate }}
        </span>
        }
      </button>
      <button type="button" class="btn btn-danger" (click)="close.emit()">
        {{ "buttons.cancel" | translate }}
      </button>
    </div>
  </form>
</div>
