.notifications {
  display: block;
  padding: 1rem;
  .notification {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;

    &.unread {
      background-color: var(--button-col);
      .notification-content,
      .notification-title,
      .notification-time,
      .fa,
      .fas,
      .notification-icon {
        color: var(--background-color);
        background-color: var(--button-col);
      }
    }

    .notification-icon {
      margin-right: 10px;
    }

    .notification-content {
      flex-grow: 1;
    }

    .mark-read {
      border: none;
      background-color: var(--text-color);
      color: var(--background-color);

      padding: 5px 10px;
      cursor: pointer;
      border-radius: 20px;
    }
  }
}
