@if (!isPageNotFound()) {
<ng-container>
  <div class="main__wrapper d-flex">
    <div *showIfAuth class="sidebar">
      <app-sidebar />
    </div>
    <div class="wrapper" [ngClass]="{ 'full-width': isLoginPage() }">
      <div class="main-panel">
        <div *showIfAuth>
          <app-navbar />
        </div>
        <div class="content">
          <router-outlet />
        </div>
      </div>
      <div class="footer">
        <app-footer />
      </div>
    </div>
  </div>
</ng-container>

} @else {
<router-outlet></router-outlet>
}
