@import "../../assets/SASS/abstracts/mixins";

.main__wrapper {
  height: 100%;
  .sidebar {
    width: 22%;
  }
  .wrapper {
    height: 100%;
    width: calc(100% - 22%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include respond(phone) {
      width: 100%;
    }
    .content {
      height: 100%;
    }
    .main-panel {
      height: 92%;
    }
  }
  @include respond(phone) {
    .sidebar {
      width: unset;
    }
    .content {
      width: 100%;
    }
  }
}
