@import "../../assets/SASS/abstracts/mixins";

.main__wrapper {
  height: 100vh;

  display: flex;
  .sidebar {
    width: 22%;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
  }
  .wrapper {
    height: 100vh;
    width: calc(100% - 22%);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 22%;
    &.full-width {
      margin-left: 0 !important;
      width: 100%;
    }

    @include respond(phone) {
      width: 100%;
      margin-left: 0;
    }

    .main-panel {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }

    .content {
      flex-grow: 1;
    }

    .footer {
      flex-shrink: 0;
    }
  }

  @include respond(phone) {
    .sidebar {
      width: unset;
      position: static;
      height: auto;
    }

    .content {
      width: 100%;
    }
  }
}
